<a href="https://colab.research.google.com/github/shamilipawar/Task-1.4/blob/main/assignment_7_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Task 1:
#Syntax Error in Conditionals

In [18]:
a=10
if a==10:
  print("Equal")

Equal

The error happened because I used a single '=' which is for assigning values, instead of '==' which is for checking if two values are the same.

Task 2:
Loop Off-By-One Error

In [29]:
#Loop Off-By-One Error
def sum_upto_n(n):
    total = 0
    for i in range(1,n + 1):
        total += i
    return total
print(sum_upto_n(5))

15

explanation:
The error happened because the range function goes up to but does not include the number 'n'. So, to include 'n' in the sum, we need to use 'n+1'. The corrected code uses range(1, n+1) to include 'n' in the summation

Task 3:
AttributeError

In [8]:
class User:
    def __init__(self, name):
        self.name = name
u=User("Alice")
print(u.name)

Alice

explanation:
The error happened because the method getName() is not defined in the user class. To fix this, we need to add a method called getName() that returns the name attribute of the user instance. The corrected code includes a getName() method that returns the user's name, allowing us to print it without errors

Task 4:
incorrect Class Attribute Initialization

In [10]:
class Car:
    def start(self):
        print("Car started")
mycar=Car()
mycar.start()

Car started

explanation:
The error happened because the start method is missing the 'self' parameter, which is required for instance methods in Python classes. The 'self' parameter allows the method to access instance attributes and other methods. The corrected code includes 'self' as the first parameter

Task 5:
Conditional Logic Error in Grading System

In [28]:
def grade_student(score):
    if score < 40:
        return 'A'
    elif score < 70:
        return 'B'
    else:
        return 'C'
print(grade_student(74))

C

explanation:
The error happened because the function name is misspelled as 'geade_student' instead of 'grade_student'. This would lead to a NameError if we try to call the function using the correct spelling.